@using Shop.Web.Extension
@model Shop.Web.ViewModels.ProductDetailsViewModel

@if (Model != null)
{
    <div class="container-fluid">
        <div class="row spaced">
            <div class="container-fluid">
                <div class="col-md-2 product-details-img"> 
                    <img src="@Url.Content("~/Resources/Images/no-image-available-150.png")" />
                </div>
                <div class="col-md-8 product-details-info">
                    <div class="container-fluid">
                        <div class="form-group row">
                            <div class="col-md-3 inline-block">
                                @Html.LabelFor(model => model.Name)
                            </div>
                            <span>@Model.Name</span>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3 inline-block">
                                @Html.LabelFor(model => model.ID)
                            </div>
                            <span>@Model.ID</span>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3 inline-block">
                                @Html.LabelFor(model => model.Description)
                            </div>
                            <span>@Model.Description</span>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3 inline-block">
                                <label>Количество</label>
                            </div>
                            <input class="form-control inline-block small-number" type="number" value="0" id="txtCount" min="0" max="@Model.ItemsAvailable" />
                            <a href="javascript:DisplayConsignments('@Model.ID');">Выбрать поставку</a>
                        </div>
                        <div class="row">
                            <div class="container-fluid no-padding">
                                <button type="button" onclick="AddProductToBasket('@Model.ID');" class="btn btn-success">Добавить в корзину</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 container-fluid">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#1" data-toggle="tab">Основная информация</a>
                    </li>
                    <li>
                        <a href="#2" data-toggle="tab">Полные характеристики</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="1">
                        @Model.Description
                    </div>
                    <div class="tab-pane" id="2">
                        @{
                            var mdl = new Shop.Web.ViewModels.Categories.SpinningRodCategorySpecification();
                            @Html.CreateSpecification(mdl);
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function AddProductToBasket(id)
        {
            var count = $("#txtCount").val();
            if (count <= 0) return;
            $.ajax({
                method: "GET",
                url: "@Url.Action("AjaxAddProduct", "Basket")?productId=" + id + "&count=" + count,
                dataType: 'json',
                success: function(data)
                {
                    PopUpWindow.open('Добавление в корзину', data.Message, ((data.Success) ? "popUp-success" : "popUp-failed"));
                }
            });
        }

        function DisplayConsignments(id)
        {
            $.ajax({
                method: "GET",
                url: "@Url.Action("AjaxGetProductConsignments", "Consignment")?productId=" + id,
                dataType: 'json',
                success: function(data)
                {
                    if (!data.Success)
                    {
                        PopUpWindow.open('Ошибка!', data.Message, "popUp-failed");
                        return;
                    }
                    console.log(data);
                    var str = '<thead><tr><th>#</th><th>Дата создания</th><th>Количество на складе</th><th>Цена</th></tr></thead>';
                    for (var i = 0; i < data.Result.Items.length; i++)
                    {
                        str += '<tr><th scope="row">' + (i + 1) + '</th><td>' + data.Result.Items[i].CreationDate + '</td><td>' + data.Result.Items[i].Count + '</td>' + '</td><td>' + data.Result.Items[i].Cost + '</td></tr>'
                    }
                    PopUpWindow.open('Выбрать поставку', '<table class="table table-hover">' + str + '</table>');
                }
            });
        }
    </script>    
}
else
{
    <span>Продукт не найден!</span>
}